torch==1.11.0
mpi4py
easydict
scipy
psutil
transformers
torchvision
pandas
h5py
sphinx_rtd_theme
azureml-core
azureml-defaults
pyyaml
scikit-learn
cerberus
protobuf
sentencepiece
googledrivedownloader
wget
